[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
discord-py = "*"
asyncpg = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python -m bakedbeans"
build = "docker-compose build"
deploy = "docker-compose up"
prod = "docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d --build --remove-orphans"
