[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python main.py"
build = "docker build -t genericon/baked-beans-bot -f Dockerfile ."
deploy = "docker run --env-file env.list -d genericon/baked-beans-bot"
